#header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 80%;
  height: 100%;
}
.nav-items > ul {
  display: flex;
  padding: 0px 20px;
  font-size: 24px;
}
.nav-items>ul>li{
    list-style: none;
    margin: 10px;
}
.button{
  justify-content: space-between;
}
.res-card{
  width: 200px;
  height: 450px;
  padding:0px 15px;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
}

.res-card:hover{
  border: 1px solid black;
  cursor: pointer;
}
.search{
  padding: 10px;
}
.res-logo{
  margin: 5px;
  width: 150px;
  height: 150px;
  padding-left: 10px;
}
.res-card-heading{
  padding: 10px 10px;
  justify-content: space-evenly;
  align-items: center;
}
.filter-btn{
  margin:1px 15px;
  cursor: pointer;

}
.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card{
   width: 200px;
  height: 200px;
  margin: 10px 20px;
  background-color: rgba(226, 226, 226, 1);
}
.btn-Name{
  width: 100px;
  margin: 0px 10px;
}
.search{
  display: flex;
}